<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653352660856-5thqit8k1517g51dalfgo97vd3u8rae5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653352660856-5thqit8k1517g51dalfgo97vd3u8rae5</string>
	<key>API_KEY</key>
	<string>AIzaSyBlQGKMQ-s43P0_DIO0Vrrn7tqV5cUM5No</string>
	<key>GCM_SENDER_ID</key>
	<string>653352660856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.woogie.MulMulMarket</string>
	<key>PROJECT_ID</key>
	<string>mulmulmarket</string>
	<key>STORAGE_BUCKET</key>
	<string>mulmulmarket.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653352660856:ios:1b2375cf956db73704628d</string>
</dict>
</plist>